<div class="d-flex flex-row add-comment-section mt-4 mb-4 w-100">

  <%= image_tag (url_for(current_user.avatar)),
  style: "width: 38px; height: 38px; object-fit: cover;",
  class: "img-fluid img-responsive rounded-circle me-2" %>
  <% if @comment.persisted? %>
    <%= form_with(model: @comment, class: 'd-flex w-100', method: @comment.persisted? ? :patch : :post, url: @comment.persisted? ? comment_url(@event.id, @comment) : update_comment_url(@event.id)) do |form| %>
      <div class="form-group w-100">
        <%= form.text_field :content, class: "form-control", placeholder: "Add Comment" %>
        <% @comment.errors.full_messages_for(:content).each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      </div>
      <div class="form-group">
        <%= form.submit "Comment", type: "submit", class: "btn btn-primary ms-2" %>
      </div>
    <% end %>
  <% else %>
    <%= form_with(model: @comment, url: comments_url(@event.id), class: 'd-flex w-100') do |form| %>
      <div class="form-group w-100">
        <%= form.text_field :content, class: "form-control", placeholder: "Add Comment" %>
        <% @comment.errors.full_messages_for(:content).each do |message| %>
          <div class="text-danger"><%= message %></div>
        <% end %>
      </div>
      <div class="form-group">
        <%= form.submit "Comment", type: "submit", class: "btn btn-primary ms-2" %>
      </div>
    <% end %>
  <% end %>
</div>
