<%= turbo_frame_tag "type_#{type.id}" do %>
  <div class="quote border d-flex justify-content-between align-items-center my-3 p-1">
    <h6 class= "col-lg-10 col-md-8 col-sm-6 ps-5">
      <span class="fw-bold me-2"><%= type.id %>.</span>
      <%= type.name%>
    </h6>
    <div class="
        quote__actions
        col-lg-2
        col-md-4
        col-sm-6
        my-sm-4
        d-flex
        justify-content-around
      "
    >
      <%= button_to type_path(type),
      method: :delete,
      form: {
        data: {
          turbo_frame: "_top"
        }
      },
      class: "btn btn-sm btn-secondary text-white text-nowrap " do %>
        <i class="fa-solid fa-trash bi me-2"></i>
        Delete
      <% end %>
      <%= link_to edit_type_path(type),
      class: "btn btn-sm btn-outline-primary text-nowrap ",
      data: {
        turbo_frame: type
      } do %>
        <i class="fa-solid fa-pen bi me-2"></i>
        Edit
      <% end %>
    </div>
  </div>
<% end %>
