<tr>
  <td scope="row" class="pb-3"><%= user.id %></td>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td>
    <% if user.role == 'user' %>
      <i class="fa-solid fa-user"></i>
    <% else %>
      <i class="fa-solid fa-person-chalkboard"></i>
    <% end %>
  </td>
  <td class="d-flex">
    <%= link_to user_path(user.id), class: "nav-link bajra-text-primary me-2", data: { "turbo-method": :delete } do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
    <%= link_to user_path(user.id), class: "nav-link link-dark ms-2" do %>
      <i class="fa-solid fa-eye"></i>
    <% end %>
  </td>
</tr>
