<% if current_user.admin? || current_user == @user %>
  <div class="bg-white p-3 rounded border">
    <div class=" d-flex justify-content-between align-items-center p-2 ">
      <h2>Users Details</h2>
      <div>
        <%= link_to current_user.admin? ? users_path : user_home_path, class: "btn btn-sm btn-primary" do %>
          <i class="fa-solid fa-arrow-left bi me-2"></i>
          Go Back
        <% end %>
      </div>
    </div>
    <hr class="my-3">
    <div class="row my-3">
      <div class="col-3 text-center">
        <% if current_user.avatar.attached? %>
          <%= image_tag (url_for(@user.avatar)),
      style: "width: 250px; height: 250px; object-fit: cover;",
      class: "rounded-pill img-fluid img-thumbnail p-3" %>
        <% else%>
          <p>Profile picture missing!</p>
        <%end %>
        <h3 class="my-3"><%= @user.first_name.capitalize() %>
          <%= @user.last_name.capitalize() %></h3>
        <div class="d-flex justify-content-center">
          <% if current_user.admin? && @user.role == 'presenter' %>
            <button class="btn btn-outline-primary ms-2">Revoke</button>
          <% else %>
            <%= link_to edit_user_registration_path, class: "btn btn-outline-primary ms-2" do %>
              <i class="fa-solid fa-id-badge bi me-2"></i>
              Edit
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-8 ms-5">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row" class="pb-3">User ID</th>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <th scope="row" class="pb-3">First Name</th>
              <td><%= @user.first_name %></td>
            </tr>
            <tr>
              <th scope="row" class="pb-3">Last Name</th>
              <td><%= @user.last_name %></td>
            </tr>
            <tr>
              <th scope="row" class="pb-3">Username</th>
              <td><%= @user.username %></td>
            </tr>
            <tr>
              <th scope="row" class="pb-3">Email</th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th scope="row" class="pb-3">Role</th>
              <td><%= @user.role %></td>
            </tr>
            <tr>
              <th scope="row" class="pb-3">Joined Date</th>
              <td><%= @user.created_at.to_s[0, 10] %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <p class="text-center m-5" >This is not your profile. You can only view your own profile.</p>
<% end %>
