<div class="d-flex justify-content-between align-items-center rounded bg-white p-3">
  <h2 class="bajra-text-primary">Event Details</h2>
  <div class="d-flex">
    <%= button_to event_path(@event), method: :delete, class: "btn btn-sm btn-danger me-2" do %>
      <i class="fa-solid fa-trash me-2"></i>
      Delete
    <% end %>
    <%= link_to edit_event_path(@event), class: "btn btn-sm btn-secondary me-2" do %>
      <i class="fa-solid fa-pen me-2"></i>
      Edit
    <% end %>
    <%= link_to events_path, class: "btn btn-sm btn-primary me-2" do %>
      <i class="fa-solid fa-arrow-left me-2"></i>
      Go Back
    <% end %>
  </div>
</div>
<div class="bg-white  my-3 p-3">
  <div class="w-75 m-auto">
    <div class="my-1 text-muted d-flex mb-3">
      <p><i class="fa-solid fa-calendar-days me-2"></i><%= @event.date.strftime("%B %d, %Y") %></p>
      <p class="ms-3"><i class="fa-solid fa-clock fa-beat me-2"></i><%= @event.time %></p>
      <p class="ms-3"><i class="fa-solid fa-hourglass-start me-2"></i><%= @event.duration %> hrs</p>
    </div>
    <h2 class="my-3"><%= @event.title %></h2>
    <p class="lead my-2"><%= @event.description %></p>
    <div class="mb-1 text-muted">
      <span class="badge bg-success text-white"><%= @event.status.capitalize %></span>
      <% if @event.visibility == 'event_public' %>
        <span class="badge bg-primary text-white"><i class="fa-solid fa-lock-open me-2"></i>Public</span>
      <% elsif @event.visibility == 'event_private' %>
        <span class="badge bg-primary text-white"><i class="fa-solid fa-lock me-2"></i>Private</span>
      <% elsif @event.visibility == 'event_presenter' %>
        <span class="badge bg-primary text-white"><i class="fa-solid fa-users me-2"></i>Presenter</span>
      <% end %>
    </div>
    <div class="mb-1 fw-bold my-2"><i class="fa-solid fa-location-dot me-2"></i><%= @event.location %></div>
    <%= image_tag url_for(@event.cover_picture), class: 'img-fluid w-100 my-3'%>
    <div class="my-2 lead"><%= @event.content %></div>
    <%# Materials list %>
    <div class="my-3">
      <%= turbo_frame_tag "event_materials" do %>
        <ul class="list-group">
          <% @event.materials.each do |material| %>
            <%= turbo_frame_tag "event_material_#{material.id}" do %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= material.filename %>
                <div class="col-4 button-list">
                  <%= link_to rails_blob_path(material, disposition: 'attachment'), class: 'btn btn-sm btn-primary mb-1' do %>
                    <i class="fa-solid fa-download bi me-2"></i>
                    Download
                  <% end %>
                  <%= link_to rails_blob_path(material, disposition: 'preview'), class: 'ms-2 btn btn-sm btn-primary mb-1' do %>
                    <i class="fa-solid fa-expand bi me-2"></i>
                    View
                  <% end %>
                  <%# Delte material %>
                  <% if current_user.admin? || current_user.presenter? %>
                    <%= link_to delete_material_path(@event.id, material.id), class: "btn btn-sm btn-default bajra-text-primary me-2", data: { "turbo-method": :delete, confirm: 'Are you sure?' } do %>
                      <i class="fa-solid fa-trash"></i>
                    <% end %>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
