<div class="container">
  <%# Header %>
  <div
    class="
      d-flex
      justify-content-between
      align-items-center
      rounded
      bg-white
      p-3
    "
  >
    <h2 class="bajra-text-primary">Event Details</h2>
    <div class="d-flex">
      <%= link_to edit_event_path(@event), class: "btn btn-sm btn-secondary me-2" do %>
        <i class="fa-solid fa-pen me-2"></i>
        Attend
      <% end %>
      <%= link_to events_path, class: "btn btn-sm btn-primary me-2" do %>
        <i class="fa-solid fa-arrow-left me-2"></i>
        Go Back
      <% end %>
    </div>
  </div>

  <%# Event Details %>
  <div class="bg-white">
    <section class="my-3 p-3">
      <div class="w-75 m-auto">
        <div class="my-1 text-muted d-flex mb-3">
          <p><i class="fa-solid fa-calendar-days me-2"></i><%= @event.date.strftime("%B %d, %Y") %></p>
          <p class="ms-3"><i class="fa-solid fa-clock fa-beat me-2"></i><%= @event.time.strftime("%H:%M") %></p>
          <p class="ms-3"><i class="fa-solid fa-hourglass-start me-2"></i><%= @event.duration %>
            hrs</p>
        </div>
        <h2 class="my-3"><%= @event.title %></h2>
        <p class="lead my-2"><%= @event.description %></p>
        <div class="mb-1 text-muted">
          <span class="badge bg-success text-white"><%= @event.status.capitalize %></span>
          <% if @event.visibility == 'event_public' %>
            <span class="badge bg-primary text-white"><i class="fa-solid fa-lock-open me-2"></i>Public</span>
          <% elsif @event.visibility == 'event_private' %>
            <span class="badge bg-primary text-white"><i class="fa-solid fa-lock me-2"></i>Private</span>
          <% elsif @event.visibility == 'event_presenter' %>
            <span class="badge bg-primary text-white"><i class="fa-solid fa-users me-2"></i>Presenter</span>
          <% end %>
        </div>
        <div class="mb-1 fw-bold my-2"><i class="fa-solid fa-location-dot me-2"></i><%= @event.location %></div>
        <%= image_tag url_for(@event.cover_picture), class: "img-fluid w-100 my-3" %>
        <div class="my-2 lead"><%= @event.content %></div>
      </div>
    </section>

    <%# Comments section %>
    <section class="mt-5 mb-5 w-75 m-auto">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Comments</h2>
        <%= link_to "Comment",
        new_comment_path(@event),
        data: {
          turbo_frame: dom_id(Comment.new)
        } %>
      </div>
      <hr>
      <%= turbo_frame_tag Comment.new %>
      <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-12">
          <div class="coment-bottom bg-white p-2 px-4">
            <% render template: "comments/new" %>
            <%= turbo_frame_tag "comments" do %>
              <%= render @comments %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
