<!DOCTYPE html>
<html>
  <head>
    <title>Lunch & Learn Management System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: whitesmoke;" class="m-auto">
    <%= render partial: "layouts/shared/user_nav" %>
    <div class=" row m-auto container-fluid px-3" style="max-width: 1920px;">
      <div class="col-lg-2 col-sm-3 p-0 m-0">
        <%= render partial: "layouts/shared/admin_sidebar" %>
      </div>
      <div class="col-lg-10 col-sm-9 my-3 ps-5 rounded ">
        <% if user_signed_in? && current_user&.admin? %>
          <%= yield %>
        <% end %>
      </div>
    </div>
  </body>
</html>
