<!DOCTYPE html>
<html>
  <head>
    <title>Lunch & Learn Management System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render partial: "layouts/shared/user_nav" %>
    <div class="mt-5 p-4 m-auto"  style="max-width: 1920px;">
      <%= yield %>
    </div>
  </body>
</html>
